@tailwind base;
@tailwind components;
@tailwind utilities;

.auto-scroll {
  animation: scroll 40s linear infinite;
}

.auto-scroll:hover {
  animation-play-state: paused;
}

.auto-scroll-fastest {
  animation: scrollLong 4.5s linear infinite alternate-reverse;
}

.auto-scroll-faster {
  animation: scrollLong 6s linear infinite alternate-reverse;
}

.auto-scroll-fast {
  animation: scrollLong 7s linear infinite alternate;
}

.auto-scroll-fasting {
  animation: scrollLong 5.75s linear infinite alternate;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-75.55%);
  }
}

@keyframes scrollLong {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
